/* Override PaperMod CSS to show covers on tag pages */
.tag-entry .entry-cover {
    display: -webkit-box !important;
}

.entry-cover img {
    border: 1px solid var(--border);
}

iframe {
    border-radius: var(--radius) !important;
}

.twitter-tweet {
    margin: auto;
}

/* Limit image height */
img {
    max-height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}